@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #F4D04E;
}

main{
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-card{
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: white;
  width: 384px;
  border-radius: 20px;
  padding: 24px;
  border: 1px solid black;
  box-shadow: 8px 8px black;
}

.blog-image{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}