@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #F4D04E;
}

main{
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-card{
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: white;
  width: 384px;
  border-radius: 20px;
  padding: 24px;
  border: 1px solid black;
  box-shadow: 8px 8px black;
}

.blog-image{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.blog-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blog-tag{
  color: #111;
  font-family: Figtree, sans-serif;
  font-weight: 800;
  width: fit-content;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  padding: 4px 12px;
  background-color: #F4D04E;
  border-radius: 4px;
}

.blog-publish-date{
  color: #111;
  font-family: Figtree, sans-serif;
  width: fit-content;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.blog-title{
  color: #111;
  font-family: Figtree, sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
  transition: color 0.15s;
  cursor: pointer;
}

.blog-title:hover{
  color: #F4D04E;
}

.blog-brief{
  color: #6B6B6B;
  font-family: Figtree, sans-serif;
  width: fit-content;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

.blog-author{
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-avatar{
  height: 32px;
  width: 32px;
  object-fit: cover;
}

.author-name{
  color: #111;
  font-family: Figtree, sans-serif;
  font-weight: 800;
  width: fit-content;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}